.comp-form-page {
    &__form {
        padding: 22px 30px;
        background-color: #fff;
        box-shadow: -10px 9px 21px 0px rgba(128, 152, 213, 0.07);
        margin-bottom: 20px;
    }
    &__bottom {
        padding: 22px 30px;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: -10px 9px 21px 0px rgba(128, 152, 213, 0.07);
    }
    &__toast {
        color: red;
    }
}