.component-no-data{
    margin-bottom:20px;
    background: rgba(255,255,255,1);
    &-img{
        width: 140px;
        height: 140px;
    }
    &-des{
        margin-top: 14px;
        line-height: 1;
        font-size: 14px;
        color: rgba(84,84,101,1);
    }
}
.common-empty-table {
    .jd-table-empty-text {
        margin-top: 150px;
        margin-bottom: 150px;
        position: relative;
        display: inline-block;
        top: unset;
        left: unset;
        transform: unset;
    }
}
