.page-list-wrap {
    height: 100%;
    .list-pagination {
        margin-top: 24px;
        text-align: right;
    }
    .condition {
        .ant-input,
        .ant-select {
            width: 200px;
        }
    }
    .action-bar {
        background-color: #fff;
        &__inner {
            padding: 20px 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__content {
            width: 100px;
        }
    }
}
